# Dependency folders
node_modules/
**/node_modules/

# Build folders
dist/
build/

# Environment variables
.env
.env.local
venv/
autoparts-backend/certs/*.pem
!autoparts-backend/certs/.gitkeep

# OS files
.DS_Store
Thumbs.db
